# Import libraries

In [1]:
# used to read-in and manipulate dataframes

import pandas as pd

# used to construct bokeh DataTable
from bokeh.models import ColumnDataSource
from bokeh.models.widgets import DataTable, TableColumn
from bokeh.plotting import show
from bokeh.plotting import output_file, save

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

# Read-in data

In [2]:
# Read-in data

df = pd.read_csv('Data/rel_nr_totals_gi.csv')

In [3]:
# Check out df

df

  Religion_categories  Observation  NR_rate  Per_Total
0            Buddhist        13357     5.44       0.78
1           Christian       828427     3.50      48.23
2               Hindu        48922     5.94       2.85
3              Jewish        12237     5.73       0.71
4              Muslim       208718     7.83      12.15
5         No religion       558727     3.22      32.53
6      Other religion        24268     7.71       1.41
7                Sikh        23114     5.55       1.35

In [4]:
df.drop(columns=['Observation', 'Per_Total'])

  Religion_categories  NR_rate
0            Buddhist     5.44
1           Christian     3.50
2               Hindu     5.94
3              Jewish     5.73
4              Muslim     7.83
5         No religion     3.22
6      Other religion     7.71
7                Sikh     5.55

# Construct Bokeh DataTable from df

To keep things simple, I'm only going to include the religion categories and the non-response columns in my DataTable. After all, this is merely a reading comprehension question.

In [5]:
# First we will assign a source to our ColumnDataSource

source = ColumnDataSource(df)

# Initialise columns as a list of TableColumn's where we assign individual fields and titles
columns = [
    TableColumn(field="Religion_categories", title="Religion"),
    TableColumn(field="NR_rate", title="Non response rate"),
]

# Aaaaand finally, let's bring it all together in a DataTable objecy
data_table1 = DataTable(source=source, columns=columns, editable=False, width=500, index_position=None)

In [6]:
# Let's check it out.

show(data_table1)

In [8]:
from bokeh.models import ColumnDataSource, DataTable, TableColumn, InlineStyleSheet
from bokeh.plotting import save, output_file

# Define custom CSS for the DataTable
table_style = InlineStyleSheet(css="""
    .slick-header-column {
        font-size: 16px; /* Larger font size */
        font-weight: bold; /* Bold font */
        color: #333333; /* Optional: Adjust the color as needed */
    }
""")

# Apply the custom styles to the DataTable
data_table1.stylesheets = [table_style]

# Output file path
output_file("/Users/loucap/Documents/GitWork/Vercel_2/index.html")

# Save the DataTable with the custom styles applied
save(data_table1)

'/Users/loucap/Documents/GitWork/Vercel_2/index.html'

# Create Bokeh HTML output file

In [9]:
show(data_table1)